TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
BALE_BOT_TOKEN=YOUR_BALE_BOT_TOKEN

TELEGRAM_SOURCE_CHANNEL=@Nargesacademy8
BALE_TARGET_CHANNEL=@NargesAcademy
BALE_SUPPORT_ID=@poshtibani_ghasemi

OLD_SUPPORT_IDS=

WEBHOOK_PATH_SECRET=CHANGE_THIS_TO_RANDOM_SECRET
TELEGRAM_WEBHOOK_SECRET=CHANGE_THIS_TO_RANDOM_SECRET
SETUP_KEY=CHANGE_THIS_TO_RANDOM_SECRET
